@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <style>
        body {
            font-size: 18px;
            font-family: "微軟正黑體";
        }
    </style>


    巴哈姆特：<a target="_blank" href="https://home.gamer.com.tw/homeindex.php">hbl917070 (深海異音)</a>

    <br> <br>

    Github：<a target="_blank" href="https://github.com/hbl917070/asp_SignWeb">https://github.com/hbl917070/asp_SignWeb</a>

    <br> <br>

    簽名檔：<a target="_blank" href=" @Url.Content("~/SignWeb")"> @Url.Content("~/SignWeb")</a>

    <br> <br>

    時間圖片-喬瑟夫：<a target="_blank" href="@Url.Content("~/img")/joseph?t=2018-03-29%2015:07:13#.jpg">@Url.Content("~/img")/joseph?t=2018-03-29%2015:07:13#.jpg</a>
    <br> <br>
    時間圖片-DIO：<a target="_blank" href="@Url.Content("~/img")/wry?t=2018-03-29%2015:07:13#.jpg">@Url.Content("~/img")/wry?t=2018-03-29%2015:07:13#.jpg</a>
    <br> <br>
    時間圖片-吉良吉影：<a target="_blank" href="@Url.Content("~/img")/Yoshikage?t=2018-03-29%2015:07:13#.jpg">@Url.Content("~/img")/Yoshikage?t=2018-03-29%2015:07:13#.jpg</a>


    <br> <br>
    最後一個回覆的人：<a target="_blank" href="@Url.Content("~/ImgReply")/t01#.jpg">@Url.Content("~/ImgReply")/t01#.jpg</a>

    

</body>
</html>
